@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400|IBM+Plex+Sans:400,400i,700');

* {
    font-family: "IBM Plex Sans";
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 1em;
}
body { background-color: #131313;

    /*background: -webkit-linear-gradient(left, rgba(161,65,20,0), rgba(155,55,0,1));*/
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
    color: rgb(255, 255, 255);
}

img {
  border-radius: 10%;
}

hr {
    height: 1px;
    padding: 0;
    color: black;
}

input {
    color: white;
    background-color: darkslategray;
}

textarea {
    background-color: darkslategray;
    color: white;
}

div.navbar {
    background-color: lightblue;
    color: white;
}

td {
    border-style: solid;
    border-color: white;
}

ul {
    list-style-type: none;
}
